In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/survey_results_public.csv')

In [3]:
df

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [4]:
df.shape

(88883, 85)

In [6]:
df.size

7555055

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88883 entries, 0 to 88882
Data columns (total 85 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Respondent              88883 non-null  int64
 1   MainBranch              88331 non-null  object
 2   Hobbyist                88883 non-null  object
 3   OpenSourcer             88883 non-null  object
 4   OpenSource              86842 non-null  object
 5   Employment              87181 non-null  object
 6   Country                 88751 non-null  object
 7   Student                 87014 non-null  object
 8   EdLevel                 86390 non-null  object
 9   UndergradMajor          75614 non-null  object
 10  EduOther                84260 non-null  object
 11  OrgSize                 71791 non-null  object
 12  DevType                 81335 non-null  object
 13  YearsCode               87938 non-null  object
 14  Age1stCode              87634 non-null  object
 15  YearsCodePro            74331 non-null  object
 16  CareerSat               72847 non-null  object
 17  JobSat                  70988 non-null  object
 18  MgrIdiot                61159 non-null  object
 19  MgrMoney                61157 non-null  object
 20  MgrWant                 61232 non-null  object
 21  JobSeek                 80555 non-null  object
 22  LastHireDate            79854 non-null  object
 23  LastInt                 67155 non-null  object
 24  FizzBuzz                71344 non-null  object
 25  JobFactors              79371 non-null  object
 26  ResumeUpdate            77877 non-null  object
 27  CurrencySymbol          71392 non-null  object
 28  CurrencyDesc            71392 non-null  object
 29  CompTotal               55945 non-null  float64
 30  CompFreq                63268 non-null  object
 31  ConvertedComp           55823 non-null  float64
 32  WorkWeekHrs             64503 non-null  float64
 33  WorkPlan                68914 non-null  object
 34  WorkChallenge           68141 non-null  object
 35  WorkRemote              70284 non-null  object
 36  WorkLoc                 70055 non-null  object
 37  ImpSyn                  71779 non-null  object
 38  CodeRev                 70390 non-null  object
 39  CodeRevHrs              49790 non-null  float64
 40  UnitTests               62668 non-null  object
 41  PurchaseHow             61108 non-null  object
 42  PurchaseWhat            62029 non-null  object
 43  LanguageWorkedWith      87569 non-null  object
 44  LanguageDesireNextYear  84088 non-null  object
 45  DatabaseWorkedWith      76026 non-null  object
 46  DatabaseDesireNextYear  69147 non-null  object
 47  PlatformWorkedWith      80714 non-null  object
 48  PlatformDesireNextYear  77443 non-null  object
 49  WebFrameWorkedWith      65022 non-null  object
 50  WebFrameDesireNextYear  62944 non-null  object
 51  MiscTechWorkedWith      59586 non-null  object
 52  MiscTechDesireNextYear  64511 non-null  object
 53  DevEnviron              87317 non-null  object
 54  OpSys                   87851 non-null  object
 55  Containers              85366 non-null  object
 56  BlockchainOrg           48175 non-null  object
 57  BlockchainIs            60165 non-null  object
 58  BetterLife              86269 non-null  object
 59  ITperson                87141 non-null  object
 60  OffOn                   86663 non-null  object
 61  SocialMedia             84437 non-null  object
 62  Extraversion            87305 non-null  object
 63  ScreenName              80486 non-null  object
 64  SOVisit1st              83877 non-null  object
 65  SOVisitFreq             88263 non-null  object
 66  SOVisitTo               88086 non-null  object
 67  SOFindAnswer            87816 non-null  object
 68  SOTimeSaved             86344 non-null  object
 69  SOHowMuchTime           68378 non-null  object
 70  SOAccount               87828 non-null  object
 71  SOPartFreq              74692 non-null  object
 72  SOJobs                  88066 non-null  object
 73  EntTeams                87841 non-null  object
 74  SOComm                  88131 non-null  object
 75  WelcomeChange           85855 non-null  object
 76  SONewContent            69560 non-null  object
 77  Age                     79210 non-null  float64
 78  Gender                  85406 non-null  object
 79  Trans                   83607 non-null  object
 80  Sexuality               76147 non-null  object
 81  Ethnicity               76668 non-null  object
 82  Dependents              83059 non-null  object
 83  SurveyLength            86984 non-null  object
 84  SurveyEase              87081 non-null  object
dtypes: float64(5), int64(1), object(79)
memory usage: 57.6+ MB

In [4]:
people = {'first' : ['Smit', 'Ghanshyam', 'Guruji'],
         'last': ['Patel', 'Sarvopari', 'Ladila'],
         'email' : ['smit4589@gmail.com', 'akshardham@com', 'shreeji@akshardham.com']}

In [5]:
people

{'first': ['Smit', 'Ghanshyam', 'Guruji'],
 'last': ['Patel', 'Sarvopari', 'Ladila'],
 'email': ['smit4589@gmail.com', 'akshardham@com', 'shreeji@akshardham.com']}

In [9]:
dataframe = pd.DataFrame(people)

In [10]:
dataframe

       first       last                   email
0       Smit      Patel      smit4589@gmail.com
1  Ghanshyam  Sarvopari          akshardham@com
2     Guruji     Ladila  shreeji@akshardham.com

In [11]:
dataframe['last']

0        Patel
1    Sarvopari
2       Ladila
Name: last, dtype: object

In [13]:
type(dataframe)

pandas.core.frame.DataFrame

In [15]:
type(dataframe['last'])

pandas.core.series.Series

In [17]:
dataframe.first

<bound method NDFrame.first of        first       last                   email
0       Smit      Patel      smit4589@gmail.com
1  Ghanshyam  Sarvopari          akshardham@com
2     Guruji     Ladila  shreeji@akshardham.com>

In [18]:
dataframe[['first', 'last']]

       first       last
0       Smit      Patel
1  Ghanshyam  Sarvopari
2     Guruji     Ladila

In [19]:
dataframe[['first', 'last']]['first']

0         Smit
1    Ghanshyam
2       Guruji
Name: first, dtype: object

In [20]:
type(dataframe[['first', 'last']]['first'])

pandas.core.series.Series

In [21]:
dataframe.columns

Index(['first', 'last', 'email'], dtype='object')

In [25]:
dataframe.dtypes

first    object
last     object
email    object
dtype: object

In [26]:
dataframe.info

<bound method DataFrame.info of        first       last                   email
0       Smit      Patel      smit4589@gmail.com
1  Ghanshyam  Sarvopari          akshardham@com
2     Guruji     Ladila  shreeji@akshardham.com>

In [27]:
dataframe.values

array([['Smit', 'Patel', 'smit4589@gmail.com'],
       ['Ghanshyam', 'Sarvopari', 'akshardham@com'],
       ['Guruji', 'Ladila', 'shreeji@akshardham.com']], dtype=object)

In [28]:
dataframe.ndim

2

In [30]:
dataframe.size

9

In [31]:
dataframe.shape

(3, 3)

In [32]:
dataframe.head(2)

       first       last               email
0       Smit      Patel  smit4589@gmail.com
1  Ghanshyam  Sarvopari      akshardham@com

In [33]:
dataframe.head(1)

  first   last               email
0  Smit  Patel  smit4589@gmail.com

In [34]:
dataframe.keys

<bound method NDFrame.keys of        first       last                   email
0       Smit      Patel      smit4589@gmail.com
1  Ghanshyam  Sarvopari          akshardham@com
2     Guruji     Ladila  shreeji@akshardham.com>

In [35]:
dataframe.tail(2)

       first       last                   email
1  Ghanshyam  Sarvopari          akshardham@com
2     Guruji     Ladila  shreeji@akshardham.com

In [36]:
 dataframe.iloc[0]

first                  Smit
last                  Patel
email    smit4589@gmail.com
Name: 0, dtype: object

In [37]:
dataframe.iloc[[0,1]]

       first       last               email
0       Smit      Patel  smit4589@gmail.com
1  Ghanshyam  Sarvopari      akshardham@com

In [38]:
dataframe.iloc[2]

first                    Guruji
last                     Ladila
email    shreeji@akshardham.com
Name: 2, dtype: object

In [42]:
dataframe.iloc[[True, True, False]]

       first       last               email
0       Smit      Patel  smit4589@gmail.com
1  Ghanshyam  Sarvopari      akshardham@com

In [44]:
dataframe.iloc[[0,1], [0]]

       first
0       Smit
1  Ghanshyam

In [46]:
dataframe.loc[[0,1]]

       first       last               email
0       Smit      Patel  smit4589@gmail.com
1  Ghanshyam  Sarvopari      akshardham@com

dataframe.loc[[0,1], ['first', 'last']]

In [5]:
df = pd.read_csv('data/survey_results_public.csv')

In [6]:
df

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [57]:
df.shape

(88883, 85)

In [58]:
df['Hobbyist']

0        Yes
1         No
2        Yes
3         No
4        Yes
        ...
88878    Yes
88879     No
88880     No
88881     No
88882    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [60]:
df['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [1]:
import pandas as pd

In [2]:
print('Hello')

Hello

In [9]:
df = pd.read_csv('data/survey_results_public.csv')

In [10]:
df

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [11]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [12]:
df.dtypes

Respondent       int64
MainBranch      object
Hobbyist        object
OpenSourcer     object
OpenSource      object
                 ...
Sexuality       object
Ethnicity       object
Dependents      object
SurveyLength    object
SurveyEase      object
Length: 85, dtype: object

In [13]:
df.ndim

2

In [14]:
df.shape

(88883, 85)

In [15]:
df.size

7555055

In [16]:
df.values

array([[1, 'I am a student who is learning to code', 'Yes', ..., 'No',
        'Appropriate in length', 'Neither easy nor difficult'],
       [2, 'I am a student who is learning to code', 'No', ..., 'No',
        'Appropriate in length', 'Neither easy nor difficult'],
       [3,
        'I am not primarily a developer, but I write code sometimes as part of my work',
        'Yes', ..., 'Yes', 'Appropriate in length',
        'Neither easy nor difficult'],
       ...,
       [88802, nan, 'No', ..., nan, nan, nan],
       [88816, nan, 'No', ..., nan, nan, nan],
       [88863, nan, 'Yes', ..., 'No', 'Appropriate in length', 'Easy']],
      dtype=object)

In [17]:
df.iloc[0]

Respondent                                                      1
MainBranch                 I am a student who is learning to code
Hobbyist                                                      Yes
OpenSourcer                                                 Never
OpenSource      The quality of OSS and closed source software ...
                                      ...
Sexuality                                 Straight / Heterosexual
Ethnicity                                                     NaN
Dependents                                                     No
SurveyLength                                Appropriate in length
SurveyEase                             Neither easy nor difficult
Name: 0, Length: 85, dtype: object

In [18]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]

In [20]:
df_ji = pd.DataFrame(mydict)

In [21]:
df_ji

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [23]:
df_ji.loc[[0,2]]

      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

In [28]:
df_ji.iloc[[0,1,2], [0,1]]

      a     b
0     1     2
1   100   200
2  1000  2000

In [29]:
t = {'First': ['Guruji', 'Ghanshyam', 'Smit'],
         'Last': ['Anadi-mukt', 'Sarvopari', 'Dasanudas'],
         'Email': ['guruji@akshardham.com', 'Ghanshyam@akshardham.com', 'smit3569@gmail.com']}

In [32]:
df_ji = pd.DataFrame({'First': ['Guruji', 'Ghanshyam', 'Smit'],
         'Last': ['Anadi-mukt', 'Sarvopari', 'Dasanudas'],
         'Email': ['guruji@akshardham.com', 'Ghanshyam@akshardham.com', 'smit3569@gmail.com']})

In [33]:
df_ji

       First        Last                     Email
0     Guruji  Anadi-mukt     guruji@akshardham.com
1  Ghanshyam   Sarvopari  Ghanshyam@akshardham.com
2       Smit   Dasanudas        smit3569@gmail.com

In [34]:
df_ji.set_index('Email')

                              First        Last
Email
guruji@akshardham.com        Guruji  Anadi-mukt
Ghanshyam@akshardham.com  Ghanshyam   Sarvopari
smit3569@gmail.com             Smit   Dasanudas

In [36]:
df_ji.set_index('Email')

                              First        Last
Email
guruji@akshardham.com        Guruji  Anadi-mukt
Ghanshyam@akshardham.com  Ghanshyam   Sarvopari
smit3569@gmail.com             Smit   Dasanudas

In [37]:
df_ji

       First        Last                     Email
0     Guruji  Anadi-mukt     guruji@akshardham.com
1  Ghanshyam   Sarvopari  Ghanshyam@akshardham.com
2       Smit   Dasanudas        smit3569@gmail.com

In [39]:
df_ji.set_index('Email', inplace = True)

In [40]:
df_ji

                              First        Last
Email
guruji@akshardham.com        Guruji  Anadi-mukt
Ghanshyam@akshardham.com  Ghanshyam   Sarvopari
smit3569@gmail.com             Smit   Dasanudas

In [41]:
df_ji

                              First        Last
Email
guruji@akshardham.com        Guruji  Anadi-mukt
Ghanshyam@akshardham.com  Ghanshyam   Sarvopari
smit3569@gmail.com             Smit   Dasanudas

In [46]:
df_ji.reset_index()

   index                     Email      First        Last
0      0     guruji@akshardham.com     Guruji  Anadi-mukt
1      1  Ghanshyam@akshardham.com  Ghanshyam   Sarvopari
2      2        smit3569@gmail.com       Smit   Dasanudas

In [48]:
df_ji.iloc[[0,1]]

                      Email      First        Last
0     guruji@akshardham.com     Guruji  Anadi-mukt
1  Ghanshyam@akshardham.com  Ghanshyam   Sarvopari

In [51]:
df_ji

                      Email      First        Last
0     guruji@akshardham.com     Guruji  Anadi-mukt
1  Ghanshyam@akshardham.com  Ghanshyam   Sarvopari
2        smit3569@gmail.com       Smit   Dasanudas

In [55]:
df_ji

                              First        Last
Email
guruji@akshardham.com        Guruji  Anadi-mukt
Ghanshyam@akshardham.com  Ghanshyam   Sarvopari
smit3569@gmail.com             Smit   Dasanudas

In [56]:
df_ji.reset_index()

                      Email      First        Last
0     guruji@akshardham.com     Guruji  Anadi-mukt
1  Ghanshyam@akshardham.com  Ghanshyam   Sarvopari
2        smit3569@gmail.com       Smit   Dasanudas

In [57]:
df_ji

                              First        Last
Email
guruji@akshardham.com        Guruji  Anadi-mukt
Ghanshyam@akshardham.com  Ghanshyam   Sarvopari
smit3569@gmail.com             Smit   Dasanudas

In [58]:
df_ji.reset_index(inplace = True)

In [59]:
df_ji

                      Email      First        Last
0     guruji@akshardham.com     Guruji  Anadi-mukt
1  Ghanshyam@akshardham.com  Ghanshyam   Sarvopari
2        smit3569@gmail.com       Smit   Dasanudas

In [60]:
df_ji

                      Email      First        Last
0     guruji@akshardham.com     Guruji  Anadi-mukt
1  Ghanshyam@akshardham.com  Ghanshyam   Sarvopari
2        smit3569@gmail.com       Smit   Dasanudas

In [61]:
df_ji.set_index('Email', inplace=True)

In [62]:
df_ji

                              First        Last
Email
guruji@akshardham.com        Guruji  Anadi-mukt
Ghanshyam@akshardham.com  Ghanshyam   Sarvopari
smit3569@gmail.com             Smit   Dasanudas

In [64]:
df_ji.sort_index()

                              First        Last
Email
Ghanshyam@akshardham.com  Ghanshyam   Sarvopari
guruji@akshardham.com        Guruji  Anadi-mukt
smit3569@gmail.com             Smit   Dasanudas

In [65]:
df_ji.iloc[0,1]

'Anadi-mukt'

In [2]:
t = {'First': ['Guruji', 'Ghanshyam', 'Smit'],
         'Last': ['Anadi-mukt', 'Sarvopari', 'Dasanudas'],
         'Email': ['guruji@akshardham.com', 'Ghanshyam@akshardham.com', 'smit3569@gmail.com']}

In [4]:
import pandas as pd

In [6]:
df = pd.DataFrame(t)

In [7]:
df

       First        Last                     Email
0     Guruji  Anadi-mukt     guruji@akshardham.com
1  Ghanshyam   Sarvopari  Ghanshyam@akshardham.com
2       Smit   Dasanudas        smit3569@gmail.com

In [10]:
df['Full_Name'] = df['First'] + ' ' + df['Last']

In [11]:
df

       First        Last                     Email            Full_Name
0     Guruji  Anadi-mukt     guruji@akshardham.com    Guruji Anadi-mukt
1  Ghanshyam   Sarvopari  Ghanshyam@akshardham.com  Ghanshyam Sarvopari
2       Smit   Dasanudas        smit3569@gmail.com       Smit Dasanudas

In [15]:
df = df[['First', 'Last', 'Full_Name', 'Email']]

In [16]:
df

       First        Last            Full_Name                     Email
0     Guruji  Anadi-mukt    Guruji Anadi-mukt     guruji@akshardham.com
1  Ghanshyam   Sarvopari  Ghanshyam Sarvopari  Ghanshyam@akshardham.com
2       Smit   Dasanudas       Smit Dasanudas        smit3569@gmail.com

In [17]:
df

       First        Last            Full_Name                     Email
0     Guruji  Anadi-mukt    Guruji Anadi-mukt     guruji@akshardham.com
1  Ghanshyam   Sarvopari  Ghanshyam Sarvopari  Ghanshyam@akshardham.com
2       Smit   Dasanudas       Smit Dasanudas        smit3569@gmail.com

In [19]:
df['Favorite_color'] = ['White', 'White', 'White']

In [20]:
df

,First,Last,Full_Name,Email,Favorite_color
0,Guruji,Anadi-mukt,Guruji Anadi-mukt,guruji@akshardham.com,White
1,Ghanshyam,Sarvopari,Ghanshyam Sarvopari,Ghanshyam@akshardham.com,White
2,Smit,Dasanudas,Smit Dasanudas,smit3569@gmail.com,White

In [21]:
df

,First,Last,Full_Name,Email,Favorite_color
0,Guruji,Anadi-mukt,Guruji Anadi-mukt,guruji@akshardham.com,White
1,Ghanshyam,Sarvopari,Ghanshyam Sarvopari,Ghanshyam@akshardham.com,White
2,Smit,Dasanudas,Smit Dasanudas,smit3569@gmail.com,White

In [22]:
df['First']

0       Guruji
1    Ghanshyam
2         Smit
Name: First, dtype: object

In [23]:
df.iloc[1]

First                            Ghanshyam
Last                             Sarvopari
Full_Name              Ghanshyam Sarvopari
Email             Ghanshyam@akshardham.com
Favorite_color                       White
Name: 1, dtype: object

In [25]:
df.iloc[1:, 3:]

                      Email Favorite_color
1  Ghanshyam@akshardham.com          White
2        smit3569@gmail.com          White

In [26]:
df.loc[1:, ['Email', 'Favorite_color']]

                      Email Favorite_color
1  Ghanshyam@akshardham.com          White
2        smit3569@gmail.com          White

In [27]:
df

,First,Last,Full_Name,Email,Favorite_color
0,Guruji,Anadi-mukt,Guruji Anadi-mukt,guruji@akshardham.com,White
1,Ghanshyam,Sarvopari,Ghanshyam Sarvopari,Ghanshyam@akshardham.com,White
2,Smit,Dasanudas,Smit Dasanudas,smit3569@gmail.com,White

In [29]:
t2 = {
    'First'  : ['Shree Hari', 'Tapuji'],
    'Last' : ['Akshardhamatipati', 'Vadtal Vihari'],
    'Email' : ['Shreehari@akshardham.com', 'VadtalVihari@purshottam.com']
}

In [30]:
df_2 = pd.DataFrame(t2)

In [31]:
df_2

        First               Last                        Email
0  Shree Hari  Akshardhamatipati     Shreehari@akshardham.com
1      Tapuji      Vadtal Vihari  VadtalVihari@purshottam.com

In [33]:
df.append(df_2)

,First,Last,Full_Name,Email,Favorite_color
0,Guruji,Anadi-mukt,Guruji Anadi-mukt,guruji@akshardham.com,White
1,Ghanshyam,Sarvopari,Ghanshyam Sarvopari,Ghanshyam@akshardham.com,White
2,Smit,Dasanudas,Smit Dasanudas,smit3569@gmail.com,White
0,Shree Hari,Akshardhamatipati,NaN,Shreehari@akshardham.com,NaN
1,Tapuji,Vadtal Vihari,NaN,VadtalVihari@purshottam.com,NaN

In [34]:
df = df.append(df_2)

In [35]:
df

,First,Last,Full_Name,Email,Favorite_color
0,Guruji,Anadi-mukt,Guruji Anadi-mukt,guruji@akshardham.com,White
1,Ghanshyam,Sarvopari,Ghanshyam Sarvopari,Ghanshyam@akshardham.com,White
2,Smit,Dasanudas,Smit Dasanudas,smit3569@gmail.com,White
0,Shree Hari,Akshardhamatipati,NaN,Shreehari@akshardham.com,NaN
1,Tapuji,Vadtal Vihari,NaN,VadtalVihari@purshottam.com,NaN

In [39]:
df.drop(columns = {'Favorite_color'}, inplace = True)

In [40]:
df

,First,Last,Full_Name,Email
0,Guruji,Anadi-mukt,Guruji Anadi-mukt,guruji@akshardham.com
1,Ghanshyam,Sarvopari,Ghanshyam Sarvopari,Ghanshyam@akshardham.com
2,Smit,Dasanudas,Smit Dasanudas,smit3569@gmail.com
0,Shree Hari,Akshardhamatipati,NaN,Shreehari@akshardham.com
1,Tapuji,Vadtal Vihari,NaN,VadtalVihari@purshottam.com

In [41]:
df.drop(index = 1)

        First               Last          Full_Name                     Email
0      Guruji         Anadi-mukt  Guruji Anadi-mukt     guruji@akshardham.com
2        Smit          Dasanudas     Smit Dasanudas        smit3569@gmail.com
0  Shree Hari  Akshardhamatipati                NaN  Shreehari@akshardham.com

In [42]:
df

,First,Last,Full_Name,Email
0,Guruji,Anadi-mukt,Guruji Anadi-mukt,guruji@akshardham.com
1,Ghanshyam,Sarvopari,Ghanshyam Sarvopari,Ghanshyam@akshardham.com
2,Smit,Dasanudas,Smit Dasanudas,smit3569@gmail.com
0,Shree Hari,Akshardhamatipati,NaN,Shreehari@akshardham.com
1,Tapuji,Vadtal Vihari,NaN,VadtalVihari@purshottam.com

In [44]:
df[df['Email']=='smit3569@gmail.com']

  First       Last       Full_Name               Email
2  Smit  Dasanudas  Smit Dasanudas  smit3569@gmail.com

In [47]:
df.drop(columns={'Full_Name'}, inplace=True)

In [48]:
df

        First               Last                        Email
0      Guruji         Anadi-mukt        guruji@akshardham.com
1   Ghanshyam          Sarvopari     Ghanshyam@akshardham.com
2        Smit          Dasanudas           smit3569@gmail.com
0  Shree Hari  Akshardhamatipati     Shreehari@akshardham.com
1      Tapuji      Vadtal Vihari  VadtalVihari@purshottam.com

In [50]:
df.columns

Index(['First', 'Last', 'Email'], dtype='object')

In [55]:
# Now our task is to drop the row with the email = "smit3569@gmail.com"
df.drop(index = df[df['Email']=='smit3569@gmail.com'].index, inplace=True)

In [56]:
df

        First               Last                        Email
0      Guruji         Anadi-mukt        guruji@akshardham.com
1   Ghanshyam          Sarvopari     Ghanshyam@akshardham.com
0  Shree Hari  Akshardhamatipati     Shreehari@akshardham.com
1      Tapuji      Vadtal Vihari  VadtalVihari@purshottam.com

In [58]:
df.drop(index = df[df['Last']=='Vadtal Vihari'].index)

        First               Last                     Email
0      Guruji         Anadi-mukt     guruji@akshardham.com
0  Shree Hari  Akshardhamatipati  Shreehari@akshardham.com

In [59]:
# Hence, now i know how to drop the rows and columns in pandas. Also, merging two dataframes.

In [60]:
df

        First               Last                        Email
0      Guruji         Anadi-mukt        guruji@akshardham.com
1   Ghanshyam          Sarvopari     Ghanshyam@akshardham.com
0  Shree Hari  Akshardhamatipati     Shreehari@akshardham.com
1      Tapuji      Vadtal Vihari  VadtalVihari@purshottam.com

In [62]:
df[df['First']=='Ghanshyam']

       First       Last                     Email
1  Ghanshyam  Sarvopari  Ghanshyam@akshardham.com

In [65]:
df.sort_values(by=['Last', 'First'], ascending=False)

        First               Last                        Email
1      Tapuji      Vadtal Vihari  VadtalVihari@purshottam.com
1   Ghanshyam          Sarvopari     Ghanshyam@akshardham.com
0      Guruji         Anadi-mukt        guruji@akshardham.com
0  Shree Hari  Akshardhamatipati     Shreehari@akshardham.com